body {
    font-family: Arial, sans-serif;
    background-color: #dad1d1;
    text-align: center;
}

header {
    background-color: #b90000;
    color: #ffffff;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b90000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #a57900;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

footer {
    text-align: right;
    margin-top: 20px;
    font-size: 14px;
}
